.login-content {
  --background: var(--light-white-bg);
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px;
  border-left: 12px solid var(--primary-color);
}

.login-container {
  max-width: 450px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-img {
  height: 3.5em;
  width: auto;
  margin-right: 12px;
}

.logo-text {
  font-size: 35px;
  font-weight: 800;
  color: var(--primary-color);
  letter-spacing: -0.5px;
  margin: 0;
}

.login-subtitle {
  font-size: 18px;
  color: var(--text-muted);
  margin-bottom: 25px;
  text-align: center;
}

.login-title {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-dark);
  margin-bottom: 20px;
  text-align: center;
}

/* Personalización de los inputs de Ionic */
ion-input.custom-input {
  --border-radius: 12px;
  --border-color: var(--border-light);
  --highlight-color-focused: var(--primary-color);
  --color: var(--text-dark);
  font-size: 1rem;
  margin-bottom: 16px;
}

/* Botón estilo píldora rosa */
.btn-primary {
  --background: var(--primary-color);
  --background-hover: var(--primary-hover);
  --border-radius: 50px;
  font-size: 15px;
  font-weight: 550;
  margin-top: 15px;
}

/* Estilo del Selector de Rol*/
ion-segment.custom-segment {
  --background: #eeeeee;
  border-radius: 12px;
  margin-bottom: 20px;

  ion-segment-button {
    --color: var(--text-muted);
    --color-checked: var(--primary-color);
    --indicator-color: var(--primary-color);
    font-weight: 600;
  }
}

.login-footer {
  margin-top: 30px;
  text-align: center;
  color: var(--text-muted);
  font-size: 14px;

  p {
    margin: 8px 0;
  }

  ion-router-link {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: var(--primary-hover);
    }
  }
}
