:root {
  --primary-color: #D81B60;
  --primary-hover: #AD1457;
  --light-white-bg: #f8f9fa;
  --text-dark: #4b5563;
  --text-muted: #6c757d;
  --border-light: #ced4da;

  --ion-color-primary: #D81B60;
  --ion-color-primary-rgb: 216, 27, 96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #AD1457;
  --ion-color-primary-tint: #e03270;
}
